@import './../../styles/variables';
@import './../../styles/colours';

.b-history-list-menu {
    $init-width: 200px;
    $init-height: 80px;

    position: absolute;
    right: $init-width;
    margin: auto;
    padding: 0;
    overflow: hidden;
    z-index: $zindex-history-list-menu;
    width: 100%;
    height: $init-height;
    transform: translateX(100vw);
    transition: all $animation-speed-normal;

    @media ($large-desktop-up) {
        transform: translateX($container-max-width - $init-width);
        right: auto;
    }

    &--showing-details {
        position: fixed;
        right: 0;
        transform: translateX(0vw);

        .b-page--bg-dark & {
            background-color: $brand-light-grey-overlay;
            padding: $container-md-lg $container-md ;
            height: 100%;
            color: $brand-grey-hover;
        }

    }

    &__top-bar {
        width: $init-width;

        .b-history-list-menu--showing-details & {
            width: 100%;
        }
    }

    &__content {
        transform: scale(0);
        transition: transform $animation-speed-normal;

        .b-history-list-menu--showing-details & {
            transform: scale(1);
        }
    }

    &__title {
        font-size: $font-size-sm;
        transition: font-size $animation-speed-slow;

        .b-history-list-menu--showing-details & {
            font-size: $font-size-md-llg;
        }
    }

    &__link {

        margin-left: -20px;

        &:before {
            visibility: hidden;
        }

        &--selected {
            background-color: $colour-sky-blue;
        }

        &--show-icon {

            &:before {
                visibility: visible;
            }
        }
    }

}
