@import './../../styles/variables';
@import './../../styles/colours';

.b-history-list-menu {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: $zindex-history-list-menu;
    padding: $container-md-lg $container-md $container-base 0;
    height: 100%;

    .b-page--bg-dark & {
        background-color: $brand-dark-overlay;
    }

    &__item {

        &--failed {
            background-color: $brand-red;
        }

    }

    &__link {

        margin-left: -20px;

        &:before {
            visibility: hidden;
        }

        &:focus,
        &:hover {
            background-color: $brand-red;
        }

        &--selected {
            background-color: $brand-red;
        }

        &--show-icon {

            &:before {
                visibility: visible;
            }
        }
    }

}
