# compiled output
/dist
/src/assets/output

# dependencies
/node_modules
/bower_components

# misc
.sass-cache
.eslintcache
npm-debug.log*

# mac
.DS_Store

# IDE
.history
.idea
.settings
.vscode

#FIXME: github shows security issues with depedencies in the package-lock.json
package-lock.json

#FIXME: it fails everytime when running the docker build on the server site, the hack is to remove yarn.lock and node_modules, run yarn again, so ignore yarn.lock file here until fix the problem
yarn.lock

