@import "variables";
@import "colours";

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    line-height: $line-height-base;
    font-family: $font-apercu;
    font-size: $font-size-base;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
