// Master brand colors ///////////////////////////////////////////////////////////
$brand-red: #e64626;
$brand-red-hover: #ce3d20;
$brand-white: white;
$brand-dark: black;
$brand-grey: #424242; //rgb(66,66,66);
$brand-grey-hover: #363636; //rgb(54,54,54);

$accent-grey: #f1f2f2; //rgb(241,242,242);
$accent-grey-hover: #d8dbdd; //rgb(216,219,221);

$brown-light: #cca88b;
$brown-mid: #92715e;

$grey-brown: #c1b2ab;
$grey-brown-light: #ccbeb6;

$text-colour-black: black;
$text-colour-grey: $brand-grey;
$text-colour-red: $brand-red-hover;
$text-colour-white: white;
