//--------------------------- Break points -------------------------
$screen-xs-min: 480px;
$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm: $screen-sm-min;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md: $screen-md-min;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;
$screen-lg: $screen-lg-min;


//--------------------------- Grid ---------------------------------
$mobile-landscape-down: "max-width: 479px";
$mobile-landscape-up: "min-width: 480px";
$tablet-down: "max-width: 767px";
$tablet-up: "min-width: 768px";
$small-desktop-down: "max-width: 991px";
$small-desktop-up: "min-width: 992px";
$large-desktop-down: "max-width: 1199px";
$large-desktop-up: "min-width: 1200px";


//----------------------------  Paths -------------------------------
$image-path: "./../assets/images";
$font-path: './../assets/fonts';


//----------------------------  Container ---------------------------
$container-xxs: 5px;
$container-xs: 10px;
$container-sm: 15px;
$container-base: 20px;
$container-md: 40px;
$container-md-lg: 60px;
$container-llg: 110px;


//--------------------------- Z-index ------------------------------
$zindex-history-list-menu: 1000;

//--------------------------- Font weights -------------------------
$font-weight-light: 100;
$font-weight-medium: 300;
$font-weight-regular: normal;
$font-weight-semi-bold: 700;
$font-weight-bold: bold;


//--------------------------- Font families ------------------------
$font-apercu: 'Apercu', Helvetica, sans-serif;
$font-apercu-mono: 'Apercu Mono', Courier, monospace;
$font-awesome: 'Font Awesome 5 Free';

//--------------------------- Font sizes ---------------------------
$font-size-xxs: 9px;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-base: 16px;
$font-size-md: 18px;
$font-size-md-lg: 24px;
$font-size-md-llg: 32px;
$font-size-llg: 42px;


//--------------------------- Font line height ---------------------------
$line-height-xs: 1;
$line-height-sm: 1.15;
$line-height-base: 1.25;
$line-height-md: 1.5;


//--------------------------- Animations ----------------------------
$animation-speed-normal: 400ms;
$animation-speed-fast: 200ms;
$animation-speed-faster: 50ms;
