@import './../../styles/variables';
@import './../../styles/colours';

.b-title {

    font-family: $font-label;
    font-weight: normal;
    line-height: 1.25;

    &--h1 {
        margin-bottom: $container-md;
        font-size: $font-size-llg;
    }

    &--h2 {
        margin-bottom: $container-md;
        font-size: $font-size-md-llg;
    }

    &--h3 {
        margin-bottom: $container-sm;
        font-size: $font-size-md-lg;
    }

    &--h4 {
        margin-bottom: $container-sm;
        font-size: $font-size-md;
    }

    &--h5 {
        margin-bottom: $container-sm;
        font-size: $font-size-base;
    }

}
