@import './../../styles/variables';
@import './../../styles/colours';

.b-visual-navigation-map {

    background-position: left top;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 400px;

}
