@import './../../styles/variables';
@import './../../styles/colours';

.b-visual-navigation-map {

    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;

}
