@import './../../styles/variables';
@import './../../styles/colours';

.b-visual-compare-panel {

    position: relative;
    margin: auto;

    &__image-viewer-container {
        margin:auto;
    }

    &__image {

    }

}
