@import './../../styles/variables';
@import './../../styles/colours';

.b-details-panel {

    padding: $container-md-lg;
    height: 100%;

    .b-page--bg-dark & {
        background-color: rgba(46,46,46,0.95);
    }


}
