@import './../../styles/variables';
@import './../../styles/colours';

.b-details-panel {

    padding: $container-md-lg;
    height: 100%;

    .b-page--bg-dark & {
        background-color: $brand-dark-overlay;
    }


}
