@import './../../styles/variables';
@import './../../styles/colours';

.b-visual-result-container {

    &__content-container {
        position: relative;
    }

    &__details-container {
        z-index: 3;
        height: 100%;
    }

    &__side-bar {
        padding-top: $container-md-llg;
        text-align: left;
    }
}
