@import './../../styles/variables';
@import './../../styles/colours';

.b-link {

    .b-page--bg-dark & {
        color: $text-colour-white;
    }

    &--block {
        display: block;
    }

    &--no-underline {
        text-decoration: none;
    }
}
